<!-- Carta de Presentacion ************************************************************ -->

<ion-view view-title="Home Page" cache-view="false">

  <ion-content class="padding">

    <div class="card">

      <div class="item item-text-wrap">
        <blockquote>"A todo el mundo le gusta jugar"</blockquote>
        <p>
          En Mordor Games llevamos varios años recomendando juegos de mesa para todas las edades, gustos,...
          Hemos creado esta app que te ayude a escoger juegos de mesa de nuestro amplio catálogo.
        </p>

        <br>

        <p>
          ¿Te animas a respondernos un par de preguntas para recomendarte un juego a medida?
        </p>

        <div class="col">
          <a ng-disabled="!home.ready" ng-click="home.start()" class="button button-block button-positive">{{ home.textButton }}</a>
        </div>
      </div>

    </div>

  </ion-content>

</ion-view>

