<!-- Inventory ************************************************************************ -->
<ion-view view-title="Home Page" cache-view="false">
  <ion-content class="padding">
    <div class="list">

      <p>
        Aquí tienes la lista de juegos, selecciona un juego para pasarlo de una lista a otra.<br/>
        Así no te recomendaremos juegos que ya tengas :)
      </p>

      <div class="item item-divider">Mis juegos</div>
      <a ng-repeat="item in inventory.owned track by item.id" class="item" ng-click="inventory.delGame(item)" href="#">{{ item.name }}</a>

      <br/>

      <div class="item item-divider">Todos los juegos</div>
      <a ng-repeat="item in inventory.desired track by item.id" class="item" ng-click="inventory.addGame(item)" href="#">{{ item.name }}</a>

    </div>
  </ion-content>
</ion-view>

