<!-- Ejemplo de pregunta ************************************************************** -->
<ion-view view-title="Questions Page" cache-view="false">
  <ion-content class="padding" on-swipe-left="question.ignore()">

    <div class="card" ng-class="question.style">

      <div class="item item-text-wrap">

        <p class="question_title"><b>{{ question.currentQuestion.text }}</b></p>
        <br/>

        <!-- Type of question -->
        <div class="row" ng-switch="question.currentQuestion.type">

          <div class="col col-100" ng-switch-when="text">
            <ion-radio ng-repeat="item in question.currentQuestion.replies"
                       ng-value="item.value"
                       ng-model="question.currentQuestion.reply"
                       ng-click="question.save()">
              {{ item.label }}
            </ion-radio>
          </div>

          <div class="col col-100" ng-switch-when="range">
            {{ question.currentQuestion | labelize: question.currentQuestion.reply}}
            <div class="list">
              <div class="item range range-positive">
                <i class="icon" ng-class="question.currentQuestion.icons.min"></i>
                <input type="range"
                       on-release="question.save()"
                       ng-model="question.currentQuestion.replies">
                <i class="icon" ng-class="question.currentQuestion.icons.max"></i>
              </div>
            </div>
          </div>

        </div>


        <div class="row">

          <div class="col col-90">
            <progress class="node-js" id="progressbar" max="100" value="{{ question.currentQuestion.percent || 0 }}"></progress>
          </div>
          <div class="col">
            <div id="progressbarlabel">
              {{ question.currentQuestion.percent || 0 }}%
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="row" ng-show="question.prematureFinish">
      <div class="col">
        <button ui-sref="app.result" analytics-on="click" analytics-event="quiz_end_now" class="button button-block button-assertive">
          ¡Vale ya! Recomiéndame algo
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
