<!-- Ejemplo de pregunta ************************************************************** -->
<ion-view view-title="Questions Page" cache-view="false">

  <ion-content class="padding" on-swipe-right="" on-swipe-left="">

    <div class="card" ng-class="question.style">

      <div class="item item-text-wrap">

        <p>
          {{ question.currentQuestion.text }}
        </p>

        <br/>

        <ion-radio ng-repeat="item in question.currentQuestion.replies"
                   ng-value="item.value"
                   ng-model="question.currentQuestion.reply"
                   ng-click="question.save()">
          {{ item.label }}
        </ion-radio>

        <div class="row">

          <div class="col col-80">
            <progress class="padding" id="progressbar" max="100" value="{{ question.currentQuestion.percent || 0 }}"></progress>
          </div>

          <div class="col">
            <div id="progressbarlabel" class="padding">
              {{ question.currentQuestion.percent || 0 }}%
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="row" ng-show="question.prematureFinish">
      <div class="col">
        <a ui-sref="result" class="button button-full button-assertive">
          ¡Vale ya! Recomiéndame algo
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
